<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".activity.login.LoginActivity" />
        <activity
            android:name=".activity.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.PakageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.MotelRoomOwnerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.PakageAddActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.InfomationMotelRoomDeleteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.InfomationPackageRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.InfomationConfirmMotelRoomOwner"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".activity.admin.EditPolicyActivity" />
        <activity android:name=".activity.admin.EditProfileAdminActivity" />
        <activity android:name=".activity.admin.EditPasswordAdminActivity" />
        <activity android:name=".activity.admin.DetailPolicyActivity"/>
        <activity
            android:name=".activity.admin.Edit_Delete_BannerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AddBannerActivity"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>