<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".activity.admin.ListWardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.admin.PakageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.MotelRoomOwnerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.InfomationMotelRoomDeleteActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.InfomationPackageRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.InfomationConfirmMotelRoomOwner"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.AdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".activity.admin.EditPolicyActivity" />
        <activity android:name=".activity.admin.EditProfileAdminActivity" />
        <activity android:name=".activity.admin.EditPasswordAdminActivity" />
        <activity android:name=".activity.admin.EditUtilitiesActivity" />
        <activity android:name=".activity.admin.AddUtilitiesActivity" />
        <activity android:name=".activity.admin.EditDistrictActivity" />
        <activity android:name=".activity.admin.AddDistrictActivity" />
    </application>

</manifest>